<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.move2.listeningdemo">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListeningActivity"></activity>
        <activity android:name=".SampleActivity"></activity>
        <activity android:name=".LogsActivity"></activity>
        <activity android:name=".InternetTestActivity"></activity>
        <activity android:name=".SendSampleActivity"></activity>
        <activity android:name=".NotificationResultActivity"></activity>

        <service
            android:name=".AudioRecorderService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>